<head>
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
</head> 
 
 <footer id="footer" class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- begin .social -->
                    <div id="social" class="social">
                        <a href="https://vk.com/natika0505" title="Вконтакте" target="_blank">
                            <i class="fa fa-vk"></i>
                        </a>
                        <a href="https://www.facebook.com/people/Наталія-Машталер/100005995034773" title="Facebook" target="_blank">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                        <a href="https://www.instagram.com/nataliymashtaler/?hl=ru" title="MyWed" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <!-- end .social -->
                </div>
            </div>
        </div>
    </footer>