
  <!-- begin .wrapper -->
    <div class="wrapper">
        <!-- begin .header -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- begin .header-logo -->
                        <div class="header-logo">
                            <a href="/">
                                <h1>Текст </h1>
                               <!-- <img class="img-responsive" src="https://evgenyrukavitsyn.com/views/cappuccino/dist/img/logo.svg" alt="Evgeny Rukavitsyn" width="500"> -->
                            </a>
                        </div>
                        <!-- end .header-logo -->   
                        <!-- begin .header-navbar -->
                        <div class="header-navbar">
                            <ul>
                                <li><a href="https://evgenyrukavitsyn.com/categories/portfolio">Портфолио</a></li>
                                <li><a href="galary">Галерея</a></li>
                                <li><a href="/galary/add">Добавити</a></li>
                                <li><a href="https://evgenyrukavitsyn.com/page/about">Отзывы</a></li>
                                <li><a href="https://evgenyrukavitsyn.com/page/prices">Услуги</a></li>
                                <li><a href="https://evgenyrukavitsyn.com/blog">Блог</a></li>
                                <li><a href="https://evgenyrukavitsyn.com/contacts">Контакты</a></li>
                            </ul>
                        </div>
                        <!-- end .header-navbar -->
                    </div>
                </div>
            </div>
        </header>

    </div>
  
    <link rel="stylesheet" href="https://evgenyrukavitsyn.com/views/cappuccino/dist/css/A.main.min.css.pagespeed.cf.0UhNFVYHsU.css">