<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <link rel="shortcut icon" href="../images/Fotoaparat.png" type="image/x-icon">
    <style>
        html {
            background-color: #fff
        }
    </style>
    <style type="text/css"></style>
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/A.main.min.css.pagespeed.cf.0UhNFVYHsU.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <meta name="author" content="Vadim Scherbina">
</head>

<body>
    <%include partials/header1%>
        <div class="contacts page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="margin-top:5%">
                        <h4><i class="fa fa-home fa-fw"></i> г. Умань, Киев, Львов, Черновцы, Украина</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Позвонить:</td>
                                    <td>
                                        <i class="fa fa-phone-square fa-fw"></i>&nbsp;+38 (066) 470-48-17 </td>
                                </tr>
                                <tr>
                                    <td>Связаться по почте:</td>
                                    <td>
                                        <i class="fa fa-envelope-o fa-fw"></i>&nbsp;
                                        <a href="mailto:evgenyrukavitsyn@gmail.com">natika.mashtaler@gmail.com</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>Страницы в социальных сетях:</h4>
                        <div class="pull-left mb5" style="margin-left: 2%">
                            <i class="fa fa-vk fa-fw"></i>
                            <a href="https://vk.com/natika0505" target="_blank">Вконтакте</a>
                        </div>
                        <div class="pull-left mb5" style="margin-left: 2%">
                            <i class="fa fa-facebook-official fa-fw"></i>
                            <a href="https://www.facebook.com/people/Наталія-Машталер/100005995034773" target="_blank">Facebook</a>
                        </div>
                        <div class="pull-left mb5" style="margin-left: 2%">
                            <i class="fa fa-instagram"></i>
                            <a href="https://www.instagram.com/nataliymashtaler/?hl=ru" target="_blank"> Instagram</a>
                        </div>

                        <div class="clearfix"></div>
                        <br>
                        
                    </div>
                   
                    
                    <!--/ MyCounter -->
                </div>
            </div>
        </div>
        <!-- end .contacts -->
    </div>
    <!-- end .wrapper -->
    <!-- begin .footer -->
   
    <%include partials/footer%>


</body>

</html>