<!doctype html>
<html lang="en">

<head>
    
    <link rel="shortcut icon" href="../images/Fotoaparat.png" type="image/x-icon">
    
    <meta charset="utf-8">
    <title>ReallyGroup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">  link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity = "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin = "anonymous" >

    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity = "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin = "anonymous" > </script>

    <meta name="description" content="MY FIRST SITE DESCRIPTION">
    <meta name="author" content="Vadim Scherbina">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/A.main.min.css.pagespeed.cf.0UhNFVYHsU.css">
</head>

<body>
    <%include partials/header1%>
    <div class="col-md-8 col-md-offset-2" style="text-align: center;">

        <img class="profimg" src=   "../images/897.jpeg" class="logotype" >
    </div>


    <%include partials/footer%>


</body>

</html>