<!doctype html>
<html lang="en">

<head>
     <meta charset="utf-8">
    <title>ReallyGroup</title>
    <!-- Latest compiled and minified CSS -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="shortcut icon" href="../images/Fotoaparat.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/A.main.min.css.pagespeed.cf.0UhNFVYHsU.css">
    <meta name="description" content="MY FIRST SITE DESCRIPTION">
    <meta name="author" content="Vadim Scherbina">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/portfolio.css">
</head>

<body>
<% include partials/header1 %>
 
<div class="row">
    <div class="col-md-12">
         <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <a href="/portfolio/portret">
                <img src="../images/Портрет.jpeg" class="logotype">
            </a>
        </div>
        <div class="col-md-5">
            <a href="/portfolio/family">
                <img src="../images/Сім'я.jpeg" class="logotype">
            </a>
        </div>
    </div>
 </div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <a href="/portfolio/marriage">
                <img src="../images/Весілля.jpeg" class="logotype">
            </a>
        </div>
        <div class="col-md-5">
            <a href="/portfolio/lovestory">
                <img src="../images/Love story.jpeg" class="logotype" >
            </a>
        </div>
    </div>
</div>
 <% include partials/footer %>
</body>
</html>