<head>
    <meta charset="utf-8">
    <title>ReallyGroup</title>
    <link rel="shortcut icon" href="../images/Fotoaparat.png" type="image/x-icon">  
    <style type="text/css"></style>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/A.main.min.css.pagespeed.cf.0UhNFVYHsU.css">
</head>

<body>
    <% include partials/header1 %>
        <!-- end .header -->
        <!-- begin .main -->
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <!-- begin .page -->
                        <div class="page">
                            <p>&nbsp;</p>
                            <h3 style="text-align: center;">Портретная фотосъемка</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <h4>Репортаж, портрет,</h4>
                                            <h4>семейная фотосъемка</h4>
                                        </td>
                                        <td style="background-color: rgb(248, 243, 237);"><span style="background-color: rgb(248, 243, 237);">1 час фотосъемки,</span><br style="background-color: rgb(248, 243, 237);">
                                            <span style="background-color: rgb(248, 243, 237);">все фото на ваш носитель</span></td>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <h4>500 грн.</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <h4>Репортаж, портрет,</h4>
                                            <h4>семейная фотосъемка</h4>
                                        </td>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <p><span>1 час фотосъемки, цветокоррекция,<br>
до 100 фото на диске</span></p>
                                        </td>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <h4>700 грн.</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <h3 style="text-align: center;">Свадебная фотосъемка</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="text-align: left; padding-top: 25px; background-color: rgb(248, 243, 237);">
                                            <h4>Пакет «Минимальный»</h4>
                                            <ul>
                                                <li>до 3х часов фотосъемки</li>
                                                <li>цветокоррекция</li>
                                                <li>до 300 фотографий</li>
                                                <li>usb-flash</li>
                                            </ul>
                                        </td>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <h4>3000&nbsp;грн.</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; padding-top: 25px; background-color: rgb(248, 243, 237);">
                                            <h4>Пакет «Оптимальный»</h4>
                                            <ul>
                                                <li>до 8ми часов фотосъемки</li>
                                                <li>цветокоррекция</li>
                                                <li>до 500 фотографий</li>
                                                <li>печать 20 фотографий&nbsp;15х21</li>
                                                <li>usb-flash</li>
                                            </ul>
                                        </td>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <h4>5000&nbsp;грн.</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; padding-top: 25px; background-color: rgb(248, 243, 237);">
                                            <h4>Пакет «Максимальный»</h4>
                                            <ul>
                                                <li>фотосъемка всего свадебного дня&nbsp;(9:00-23:00)</li>
                                                <li>цветокоррекция</li>
                                                <li>до 800 фотографий</li>
                                                <li>печать 20 фотографий 15х21</li>
                                                <li>usb-flash</li>
                                                <li>в подарок - 50% скидка на фотосъемку "LoveStory"</li>
                                            </ul>
                                        </td>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <h4>7000 грн.</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; padding-top: 25px; background-color: rgb(248, 243, 237);">
                                            <h4>«Love Story»</h4>
                                            <ul>
                                                <li>до 3х часов фотосъемки</li>
                                                <li>цветокоррекция</li>
                                                <li>до 200 фотографий</li>
                                                <li>usb-flash</li>
                                            </ul>
                                        </td>
                                        <td style="background-color: rgb(248, 243, 237);">
                                            <h4>2000&nbsp;грн.</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>&nbsp;</p>

            <div class="col-md-12 " style="margin-left:-10%;">
            
                <% include partials/footer %>    
            </div>         
    <!-- end .footer -->
    
     
</body>